body{
  background-color:#EAF6F6;
}
hr{


  border-style:dotted none none ;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}
h1{
  text-shadow: 5px 5px 2px red;
  color:#28FFBF;
}
h2{
  color:#28FFBF;
}
h3{
  color:#28FFBF;
}
